* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: black;
    color: white;
    font-size: 25px;
    padding: 10px;
    text-align: center;
}

h2 {
    text-align: center;

}


